default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # list of supported hooks: https://pre-commit.com/hooks.html
      - id: trailing-whitespace
        require_serial: true
      - id: end-of-file-fixer
        require_serial: true
      # - id: check-docstring-first
      - id: check-added-large-files
        require_serial: true
        exclude: uv.lock
      - id: check-ast
        require_serial: true
      - id: check-yaml
        require_serial: true
        exclude: "mkdocs.yml"
      - id: debug-statements
        require_serial: true
      - id: detect-private-key
        require_serial: true
      - id: check-executables-have-shebangs
        require_serial: true
      - id: check-toml
        require_serial: true
      - id: check-case-conflict
        require_serial: true

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    # Ruff version.
    rev: "v0.14.2"
    hooks:
      - id: ruff
        args: ["--fix"]
        require_serial: true

  # python docstring formatting
  - repo: https://github.com/myint/docformatter
    rev: v1.7.7
    hooks:
      - id: docformatter
        language: python
        args: [--in-place]
        require_serial: true

  # NOTE: Disabling this, since I'm having the glib-c2.29 weird bug.
  # # yaml formatting
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.7.1
  #   hooks:
  #     - id: prettier
  #       types: [yaml]

  # jupyter notebook cell output clearing
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        require_serial: true

  # md formatting
  # - repo: https://github.com/executablebooks/mdformat
  #   rev: 0.7.20
  #   hooks:
  #     - id: mdformat
  #       exclude: "docs/" # terrible, I know, but it's messing up everything with mkdocs fences!
  #       args: ["--number"]
  #       additional_dependencies:
  #         - mdformat-gfm
  #         - mdformat-tables
  #         - mdformat_frontmatter
  #         - mdformat-toc
  #         - mdformat-config
  #         - mdformat-black
  #         # see https://github.com/KyleKing/mdformat-mkdocs
  #         # Doesn't seem to work!
  #         - mdformat-mkdocs[recommended]>=2.1.0
  #       require_serial: true

  # word spelling linter
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --skip=logs/**,data/**
          # - --ignore-words-list=abc,def
        require_serial: true
